<!DOCTYPE html>
<html>
<head>
<title>Bat-Form</title>
<link rel="stylesheet" type="text/css" href="style.css">
<h1>Bat-Form</h1> 
</head>
  <div class="background">
  <body >
    <form method="post" action="/batsignal/batform">
      Name:<br>
    <input type="text" name="name" placeholder="name" required>
      Telephone:
    <input type="tel" name="usertel" placeholder="calling card" required>
    </form>
  </body>
</div>
</html>
