
  <body class = "background">
    <h1 class="text-center">The Bat-Form</h1>
    <form method="post" action="/batsignal/batform">
      Name:
    <input type="text" name="name" placeholder="name" required>
      Telephone:
    <input type="tel" name="phonenumber" placeholder="calling card" required>
    <input value="Join Us!" type="submit"/>

    </form>
    <img class="pic" src="http://www.themarysue.com/wp-content/uploads/2015/08/batman-of-the-office-video-570x294.jpg">

  </body>
