

  <form method="post" action="/batsignal" class="bat_logo">
    <input type="image" src="http://i.imgur.com/iku5gSK.jpg" width="600" height="400">
  </form>


<footer>
  <a href="/batsignal/batform" class="button">Bat Join</a>
</footer>
