<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" href="styles.css">
</head>

<body>
  <form method="post" action="/batsignal">
    <a href="#"><img src="http://i.imgur.com/iku5gSK.jpg" width="900" height="600"></a>
  </form>
</body>

</html>
