<html lang="en">
  <head>
    <title>batsymbol</title>
  </head>

<body>

    <p>
      <center>
        <form action="http://www.txtdrop.com/send.php" method="POST" target="_blank">
          <input type="hidden" name="number" value="jt069gu5ka5p">
          <textarea name="body" rows="3" cols="25" size="145">Drop Me A Txt</textarea>
          <input type=submit value="Text Me">
        </form>
      </center>
    </p>

</body>

</html>
