<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="background">
  <form method="post" action="/batsignal" class="bat_logo">
    <input type="image" src="http://i.imgur.com/iku5gSK.jpg" width="900" height="600">
  </form>
</body>


<footer>
  <form method="post" action="/batsignal/batform" class="join">
    <button type="submit" value="Submit">Become a Bat</button>
  </form>
</footer>
</html>
