
<div class="text-center">
  <form method="post" action="/batsignal" class="bat_logo">
    <input type="image" src="http://i.imgur.com/iku5gSK.jpg">
  </form>
</div

<footer>
  <a href="/batsignal/batform" class="button">Bat Join</a>
</footer>
